[submodule "classification_utility/pysearch_tool/cofi"]
	path = classification_utility/pysearch_tool/cofi
	url = https://github.com/Denghu-JI/cofi.git
	branch = main
[submodule "classification_utility/pysearch_tool/espresso"]
	path = classification_utility/pysearch_tool/espresso
	url = https://github.com/Denghu-JI/espresso.git
	branch = main
[submodule "classification_utility/pysearch_tool/cofi-examples"]
	path = classification_utility/pysearch_tool/cofi-examples
	url = https://github.com/Denghu-JI/cofi-examples.git
	branch = main
